.navbar-brand img {
  max-height: 40px;
  margin-right: 15px;
}
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.titulos{
  font-weight: bold;
  font-size: 200%;
  color: rgb(255, 255, 255);
}
.parrafos{
  max-width: 50%;
  margin: 0 auto;
  color: white;
}
.titulo2{
  font-weight: bold;
  font-size: 150%;
  color: rgb(255, 255, 255);
}
.parrafo2{
  color: white;
}

.contentMVV{
  background-color: #63677A;
  margin-bottom: 20px;
}

footer{
  background: #6373CF;
}